html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0%;
    padding-left: 25px;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin: auto;
    margin-top: 30px;
    align-items: center;
    width: 75%;
    background-color: rgb(243, 167, 211);
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}

.headermenu {
    align-self: center; 
    float: right; 
    display: inline; 
    padding-right: 20px;
    align-items: center;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
    display: inline;
    padding-left: 30px;
    color: #fff;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 30px;
    }
    header {
        width:  90%;
    }
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    
}

.content {
    width: 90%;
    margin: auto;
}

.infoblock {
    width: 70%;
    margin: auto;
    padding: 10px 30px 40px 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: lightskyblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.nav {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

a.button {
    width: 10%;
    text-align: center;
    padding: 15px 30px 15px 30px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 35px;
    border-radius: 12px;
    background-color: #ffcce1bb;
    background: linear-gradient(to bottom right, rgb(243, 167, 211), rgb(250, 130, 200));
    color: white;

}




/* ----- Hamburger Menu -------------------------------------------------------- */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #A0EDFF66;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #A0EDFF66;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}
  

/* ----- Menu Animation --------------------------------------------------------*/
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* ----- Navigation --------------------------------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 18%;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 12px;
    border-top-right-radius: 0px;
}
  
.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
}
  
.sidenav a:hover, .dropdown-btn:hover {
    color: #818181;
}

button.dropdown-btn {
    background-color: #111;
    border-color: #111;
    border-style: none;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}



a.button:hover {
    background: linear-gradient(to bottom right, rgb(250, 130, 200), rgb(243, 167, 211));
    background-repeat: no-repeat;
    background-size: cover;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 10%; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 10px from the right side of page */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Make sure there are no borders */
    outline: none; /* Make sure there is no outline */
    background-color: #343434; /* Set the background color */
    color: white; /* Set the text color */
    cursor: pointer; /* Add a "hand" pointer on hover */
    padding: 15px; /* Add padding */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px; /* Round the corners */
    font-size: 18px; /* Set font size */
}

#myBtn:hover {
    background-color: #343434; /* Add a dark pink background on hover */
}